/********* Common CSS Starts **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html, body {
    font-family : sans-serif, arial;
    font-size: 16px;
    color: #242424;
    display: grid;
  }
  .container {
    width: 1300px;
    margin: 0px auto;
    
  }
  .main-section {
    width: 100%;
    float: left;
    padding: 70px 0px 70px 0px;
  }
  .heading {
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid #46b7c1;
    margin-bottom: 20px;
    color: #46b7c1;
  }
  /********* Common CSS End **********/


  /********* Header HTML CSS Starts **********/
.header {
	background: #46b7c1;
	padding: 6px;
}
.header b {
	background: #fff;
	color: red;
	padding:10px;
	font-size: 20px;
}
.header marquee {
	font-size:20px;
	color: #ffffff;
	width: 80%;
}
/********* Header HTML CSS End **********/


/********* Design Logo and Menu section CSS Starts **********/
.logo {
	height:60px;
}
/*Menu Section Menu Section*/
nav {
	float: right;
	padding:2cqh 0px;
  background: #46b7c1;
  width: 100%;
  border-bottom: 1px solid #46b7c1;
  height: max-content;
}
nav a {
	color: black;
	text-decoration: none;
	font-size:15px;
	padding:2px 10px;
	font-weight:500;
  cursor: pointer;
}
/********* Design Logo and Menu section CSS End **********/

/********* Slider CSS Starts **********/
.slider {
  width: 100%;
  height: 510px;
  position: relative;
  margin-top: 55px;
}

.slider img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 500px;
  margin-top: 35px;
}

.slider img:first-child {
  z-index: 1;
}

.slider img:nth-child(2) {
  z-index: 0;
}

.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}
  
  /********* Slider CSS End **********/



 /********* Campus, Events and Notice Board section CSS Starts **********/
.event {
  width: 32%;
  margin-right: 1%;
  float: left;
  background-color: #fff;
  padding: 10px;
}
.event .heading {
  border-bottom: 1px solid #46b7c1;
  padding: 5px;
  color: #fff;
  background: #46b7c1;
  text-align: center;
}
.event ul li {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  list-style: none;
}
.event-date {
  background: #46b7c1;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 8px 12px;
  margin-right: 10px;
}

.imgg{
  width: 15px;
}

.new{
  width: 15px;
}

/********* Campus, Events and Notice Board section CSS End **********/



/********** About Us CSS Starts **********/  
.about-us div {
  width: 45%;
  float: left;
  line-height: 30px;
  font-size: 18px;
}
.about-us h4 {
  font-size: 22px;
}
.about-us p {
  line-height: 42px;
}
.about-us img {
  width: 40%;
  float: left;
}
/********** About Us CSS Ends **********/


/********** collage Info, Award and Certificate CSS Starts **********/  
.award p {
  width: 100%;
  float: left;
  font-size: 16px;
}
.award img {
  width: 100%;
}
.award b {
  min-width: 115px;
  float: left;
  margin-bottom: 20px;
}
.award h3 {
  font-size: 23px;
  margin-bottom: 20px;
  text-align: center;
}
/********** collage Info, Award and Certificate CSS Ends **********/



/********* Testimonial Section CSS Starts **********/
.testimonial {
  width: 30.5%;
  float: left;
  margin-right: 2.5%;
}
.testimonial-text {
  background: #46b7c1;
  padding: 20px;
  line-height: 35px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.testimonial-detail {
  float: left;
  margin-top: 10px;
}
.testimonial-img {
  float: left;
}
.testimonial-img img {
  border-radius: 50%;
}
.testimonial-name {
  margin-left: 10px;
  float: left;
}
.testimonial-name h5 {
  font-size: 18px;
  margin-top: 8px;
}
/********* Testimonial Section CSS End **********/

/********* Gallery section CSS Starts **********/
.gallery img {
  width: 24%;
}
/********* Gallery section CSS End **********/

/********* Footer section CSS Starts **********/
.footer {
  background-color: #46b7c1;
  padding: 20px 0px;
  width: 100%;
  float: left;
}
.footer-logo {
  width: 70%;
}
.footer-sect {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
}
.footer-sect a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
/********* Footer section CSS End **********/

/**************pop up div*************/

#popup {
  /*display: inline-flex; /* Initially hidden */
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(173, 209, 226, 0.534); /* Semi-transparent background */
  text-align: center;
  /*padding: 20px;*/
  z-index: 999; /* Ensure it appears above the main content */
  border: #46b7c1 solid 5px;
}

.msg{
  margin-right: 75px;
  width: 100%;
  float: left;
  position: relative;
  top: 31px;
  text-align: justify;
  margin-bottom: 20px;
}

.navi{
 /* border: black solid 2px;*/
  padding: 8px 16px;

}

#close-popup {
  border: none;
  padding: 8px 16px;
  background-color: #50c89600;
  cursor: pointer;
  height: max-content;
  border: rgb(255, 255, 255)  solid;
  position: absolute;
  display: flex;
  margin: 5px;
  right: 21px;
  top: -2px;
}



/***************pop up div************/